<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Term Deposit</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>Term Deposit</h1>

	<div>
		<form>
			<div class="label-input">
			<label for="age">Age</label>
			<input type="text" name="age" value="40">
			</div>
			
			<div class="label-input">
			<label for="job">Type of job</label>
			<select name="job">
				<option value="admin">Admin</option>
				<option value="blue-collar">Blue-collar</option>
				<option value="housemain">Housemaind</option>
				<option value="management">Management</option>
				<option value="retired">Retired</option>
				<option value="self-employed">Self Employed</option>
				<option value="services">Services</option>
				<option value="student">Student</option>
				<option value="technician">Technician</option>
				<option value="unemployed">Unemployed</option>
				<option value="unknown">Unknown</option>
			</select>
			</div>
			
			<div class="label-input">
			<label for="marital-status">Marital status</label>
			<select name="marital-status">
				<option value="divorced">Divorced</option>
				<option value="married">Married</option>
				<option value="single">Single</option>
				<option value="unknown">Unknown</option>
			</select>
			</div>
			
			<div class="label-input">
			<label>Education</label>
			<select name="education">
				<option value="basic.4y">Basic 4Y</option>
				<option value="basic.6y">Basic 6Y</option>
				<option value="basic.9y">Basic 9Y</option>
				<option value="high.school">High School</option>
				<option value="illiterate">Illiterate</option>
				<option value="professional.course">Professional Course</option>
				<option value="university.degree">University Degree</option>
				<option value="unknown">Unknown</option>
			</select>
			</div>
				
			<div class="label-input">
			<label for="has-credit">Has credit</label>
			<select name="has-credit">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Has housing loan</label>
			<select name="has-loan">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Has personal loan</label>
			<select name="has-persone-loan">
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Contact Type</label>
			<select name="contact-type">
				<option value="cellular">Cellular</option>
				<option value="telephone">Telephone</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Last Contact (Month)</label>
			<select name="last-contact-month">
				<option value="jan">January</option>
				<option value="feb">February</option>
				<option value="mar">March</option>
				<option value="apr">April</option>
				<option value="may">May</option>
				<option value="jun">June</option>
				<option value="jul">July</option>
				<option value="aug">August</option>
				<option value="sep">September</option>
				<option value="oct">October</option>
				<option value="nov">November</option>
				<option value="dec">December</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Last Contact (Day)</label>
			<select name="last-contact-day">
				<option value="mon">Monday</option>
				<option value="tue">Tuesday</option>
				<option value="wed">Wednesday</option>
				<option value="thu">Thusday</option>
				<option value="fri">Friday</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Number of contacts</label>
			<input name="number-of-contacts">
		</div>
			
		<div class="label-input">
			<label>Number of days passed from last contact</label>
			<input name="number-of-days-passed">
		</div>
			
		<div class="label-input">
			<label>Number of contacts performed before</label>
			<input name="number-of-contacts-before">
		</div>
			
		<div class="label-input">
			<label>Outcome of the previsious campaign</label>
			<select name="outcome-of-the-previous">
				<option value="failure">Failure</option>
				<option value="nonexistent">Nonexistent</option>
				<option value="success">Success</option>
			</select>
		</div>
			
		<div class="label-input">
			<label>Employment variation rate</label>
			<input name="employment-variation-rate">
		</div>
			
		<div class="label-input">
			<label>Consumer price index</label>
			<input name="consumer-price-index">
		</div>
			
		<div class="label-input">
			<label>Consumer confidence index</label>
			<input name="consumer-confidence-index">
		</div>
			
		<div class="label-input">
			<label>Euribor (3 Months rate)</label>
			<input name="euribor">
		</div>
			
		<div class="label-input">
			<label>Number of employees</label>
			<input name="number-of-employees">
		</div>
		<input type="submit" value="Submit">
		</form>
	</div>

</body>
</html>