<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Home page</title>
	</head>
	<body>
		<h1>Term Deposit</h1>
		<form>
			<p>Age:</p>
			<input type="number" name="age">
			<p>Job:</p>
			<select name="job" id="job">
    			<option value="management">management</option>
    			<option value="blue-collar">blue-collar</option>
    			<option value="admin">admin</option>
    			<option value="entrepreneur">entrepreneur</option>
    			<option value="housemaid">housemaid</option>
    			<option value="retired">retired</option>
    			<option value="self-employed">self-employed</option>
    			<option value="services">services</option>
    			<option value="student">student</option>
    			<option value="technician">technician</option>
    			<option value="unemployed">unemployed</option>
    			<option value="unknown">unknown</option>
  			</select>
  			<p>marital:</p>
  			<select name="marital" id="marital">
    			<option value="married">married</option>
    			<option value="divorced">divorced</option>
    			<option value="single">single</option>
  			</select>
  			<p>education:</p>
  			<select name="education" id="education">
    			<option value="primary">primary</option>
    			<option value="secondary">secondary</option>
    			<option value="tertiary">tertiary</option>
    			<option value="unknown">unknown</option>
  			</select>
  			<p>default:</p>
  			<select name="default" id="default">
    			<option value="no">no</option>
    			<option value="yes">yes</option>
  			</select>
  			<p>balance:</p>
			<input type="number" name="balance">
			<p>housing:</p>
  			<select name="housing" id="housing">
    			<option value="no">no</option>
    			<option value="yes">yes</option>
  			</select>
  			<p>loan:</p>
  			<select name="loan" id="loan">
    			<option value="no">no</option>
    			<option value="yes">yes</option>
  			</select>
  			<p>contact:</p>
  			<select name="contact" id="contact">
    			<option value="cellular">cellular</option>
    			<option value="telephone">telephone</option>
    			<option value="unknown">unknown</option>
  			</select>
  			<p>day:</p>
			<input type="number" name="day">
			<p>month:</p>
  			<select name="month" id="month">
    			<option value="apr">apr</option>
    			<option value="aug">aug</option>
    			<option value="dec">dec</option>
    			<option value="feb">feb</option>
    			<option value="jan">jan</option>
    			<option value="jul">jul</option>
    			<option value="jun">jun</option>
    			<option value="mar">mar</option>
    			<option value="may">may</option>
    			<option value="nov">nov</option>
    			<option value="oct">oct</option>
  			</select>
  			<p>duration:</p>
			<input type="number" name="duration">
			<p>campaign:</p>
			<input type="number" name="campaign">

			<p><input type="submit" value="Get Predictions"></p
			>
		</form>
	</body>
</html>
